block comments

    .fb-comments(
        data-href='http://www.simpatiafm.com.br' 
        data-width='' 
        data-numposts='5' 
        data-colorscheme='light' 
        data-order-by='reverse_time')